# Question 3

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
# read and glance
cricket_matches = pd.read_csv('../Data/cricket_matches.csv')
cricket_matches.tail()

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
6225,"Canterbury v Auckland at Christchurch- Dec 11,...",Auckland won by 6 wickets (with 6 balls remain...,Canterbury 133/6 (20/20 ov); Auckland 134/4 (1...,11/12/2016,Christchurch,NaN,Canterbury,Auckland,Auckland,NaN,...,6.0,20.0,20.0,Auckland,134.0,4.0,19.0,20.0,NaN,NaN
6226,"Otago v Northern Districts at Dunedin- Dec 14,...",Otago won by 2 runs,Otago 177/5 (15/15 ov); Northern Districts 175...,14/12/2016,Dunedin,NaN,Otago,Northern Districts,Otago,2.0,...,5.0,15.0,15.0,Northern Districts,175.0,9.0,15.0,15.0,NaN,NaN
6227,Canterbury v Wellington at Christchurch- Dec 1...,Match tied (Canterbury won the one-over elimin...,Canterbury 166/5 (20/20 ov); Wellington 166/7 ...,15/12/2016,Christchurch,NaN,Canterbury,Wellington,Canterbury,NaN,...,5.0,20.0,20.0,Wellington,166.0,7.0,20.0,20.0,NaN,NaN
6228,"Wellington v Canterbury at Wellington- Dec 16,...",Canterbury won by 9 runs,Canterbury 199/4 (20/20 ov); Wellington 190/4 ...,16/12/2016,Wellington,NaN,Wellington,Canterbury,Canterbury,9.0,...,4.0,20.0,20.0,Wellington,190.0,4.0,20.0,20.0,NaN,NaN
6229,"Central Districts v Otago at Napier- Dec 16, 2016",Central Districts won by 5 runs,Central Districts 166/5 (20/20 ov); Otago 161/...,16/12/2016,Napier,NaN,Central Districts,Otago,Central Districts,5.0,...,5.0,20.0,20.0,Otago,161.0,9.0,20.0,20.0,NaN,NaN

In [4]:
# filter those team wins at home
df = cricket_matches[cricket_matches['home'] == cricket_matches['winner']]
df.head()

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
3,South Group:Surrey v Middlesex at The Oval- Ju...,Surrey won by 4 wickets (with 4 balls remaining),Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...,13/06/2003,The Oval,South Group,Surrey,Middlesex,Surrey,NaN,...,10.0,20.0,20.0,Surrey,158.0,6.0,19.2,20.0,NaN,NaN
4,Midlands/Wales/West Group:Worcestershire v Nor...,Worcestershire won by 1 wicket (with 2 balls r...,Northamptonshire 150/9 (20/20 ov); Worcestersh...,13/06/2003,Worcester,Midlands/Wales/West Group,Worcestershire,Northamptonshire,Worcestershire,NaN,...,9.0,20.0,20.0,Worcestershire,151.0,9.0,19.4,20.0,NaN,NaN
5,Midlands/Wales/West Group:Gloucestershire v Wo...,Gloucestershire won by 4 wickets (with 5 balls...,Worcestershire 122 (19.5/20 ov); Gloucestershi...,14/06/2003,Bristol,Midlands/Wales/West Group,Gloucestershire,Worcestershire,Gloucestershire,NaN,...,10.0,19.5,20.0,Gloucestershire,126.0,6.0,19.1,20.0,NaN,NaN

In [11]:
# only left useful cols
df_filter = df.loc[:,['winner','innings1','innings1_runs','innings2','innings2_runs']]
df_filter

,winner,innings1,innings1_runs,innings2,innings2_runs
0,Durham,Nottinghamshire,157.0,Durham,160.0
1,Hampshire,Hampshire,153.0,Sussex,148.0
3,Surrey,Middlesex,155.0,Surrey,158.0
4,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0
5,Gloucestershire,Worcestershire,122.0,Gloucestershire,126.0
6,Surrey,Surrey,182.0,Essex,138.0
7,Yorkshire,Yorkshire,186.0,Derbyshire,141.0
9,Kent,Hampshire,145.0,Kent,147.0
10,Leicestershire,Leicestershire,174.0,Yorkshire,158.0
11,Nottinghamshire,Lancashire,120.0,Nottinghamshire,124.0
12,Surrey,Sussex,143.0,Surrey,145.0
17,Sussex,Sussex,177.0,Middlesex,136.0
18,Derbyshire,Nottinghamshire,94.0,Derbyshire,95.0
19,Gloucestershire,Northamptonshire,128.0,Gloucestershire,129.0
20,Lancashire,Yorkshire,102.0,Lancashire,104.0
21,Middlesex,Kent,161.0,Middlesex,165.0
22,Leicestershire,Leicestershire,178.0,Lancashire,156.0
23,Northamptonshire,Northamptonshire,166.0,Somerset,151.0
24,Warwickshire,Warwickshire,181.0,Glamorgan,113.0
25,Yorkshire,Yorkshire,198.0,Durham,143.0
30,Sussex,Sussex,180.0,Essex,173.0
31,Derbyshire,Derbyshire,157.0,Durham,151.0
32,Glamorgan,Glamorgan,170.0,Worcestershire,114.0
34,Middlesex,Hampshire,134.0,Middlesex,136.0
36,Gloucestershire,Gloucestershire,221.0,Glamorgan,168.0
38,Lancashire,Lancashire,144.0,Durham,140.0
39,Leicestershire,Leicestershire,171.0,Derbyshire,170.0
41,Worcestershire,Worcestershire,161.0,Somerset,124.0
42,Yorkshire,Yorkshire,196.0,Nottinghamshire,178.0
43,Essex,Essex,175.0,Middlesex,173.0
...,...,...,...,...,...
6174,Comilla Victorians,Rajshahi Kings,124.0,Comilla Victorians,125.0
6175,Barisal Bulls,Barisal Bulls,161.0,Rajshahi Kings,144.0
6176,Comilla Victorians,Khulna Titans,141.0,Comilla Victorians,142.0
6177,Dhaka Dynamites,Chittagong Vikings,134.0,Dhaka Dynamites,135.0
6178,Rangpur Riders,Rangpur Riders,154.0,Barisal Bulls,125.0
6180,Comilla Victorians,Comilla Victorians,170.0,Rangpur Riders,162.0
6183,Dhaka Dynamites,Dhaka Dynamites,140.0,Khulna Titans,86.0
6185,Dhaka Dynamites,Dhaka Dynamites,159.0,Rajshahi Kings,103.0
6189,Knights,Knights,184.0,Cape Cobras,146.0
6193,Dolphins,Dolphins,193.0,Lions,144.0
6194,Cape Cobras,Cape Cobras,163.0,Warriors,151.0
6195,Titans,Knights,185.0,Titans,186.0
6196,Titans,Titans,185.0,Dolphins,127.0
6198,Lions,Lions,165.0,Cape Cobras,66.0
6202,Warriors,Lions,152.0,Warriors,153.0
6204,Lions,Lions,175.0,Dolphins,169.0
6205,Dolphins,Titans,170.0,Dolphins,171.0
6206,Warriors,Knights,93.0,Warriors,94.0
6209,Lions,Lions,157.0,Warriors,152.0
6211,Cape Cobras,Knights,146.0,Cape Cobras,152.0
6212,Titans,Titans,230.0,Lions,184.0
6213,Warriors,Dolphins,216.0,Warriors,217.0
6219,Warriors,Lions,136.0,Warriors,138.0
6220,Titans,Titans,155.0,Warriors,149.0
6221,Central Districts,Central Districts,198.0,Canterbury,77.0
6222,Northern Districts,Northern Districts,142.0,Wellington,135.0
6223,Auckland,Auckland,198.0,Otago,176.0
6226,Otago,Otago,177.0,Northern Districts,175.0
6227,Canterbury,Canterbury,166.0,Wellington,166.0
6229,Central Districts,Central Districts,166.0,Otago,161.0

In [12]:
#df_filter['innings1_runs'] = df_filter['innings2_runs']

In [13]:
# teams win in the first innings
df_1 = df_filter[df_filter.winner == df_filter.innings1]
df_1.shape

(1492, 5)

In [14]:
# teams win in the first innings
df_2 = df_filter[df_filter.winner == df_filter.innings2]
df_2.shape

(1527, 5)

In [15]:
# group by team  and add up
a = df_1.groupby('winner').sum()
a = a.innings1_runs
a

winner
Abahani Limited                           172.0
Abbottabad Falcons                        932.0
Abbottabad Region                         198.0
Abbottabad Rhinos                         186.0
Adelaide Strikers                         550.0
Afghanistan                              3686.0
Andhra                                    669.0
Antigua                                   146.0
Antigua and Barbuda                       153.0
Assam                                    1029.0
Auckland                                 3475.0
Australia                                3025.0
Australia A                               176.0
Azad Jammu & Kashmir Region               123.0
Badureliya Sports Club                   1125.0
Bahawalpur Region                         620.0
Bahawalpur Stags                          461.0
Baluchistan                               217.0
Bangladesh                               1091.0
Bangladesh A                              166.0
Barbados                                  890.0
Barbados Tridents                        1500.0
Barisal Bulls                             658.0
Barisal Burners                           501.0
Baroda                                   2369.0
Basnahira                                 304.0
Basnahira Cricket Dundee                  129.0
Basnahira Greens                          139.0
Basnahira North                           117.0
Basnahira South                           793.0
                                          ...
Sunrisers Hyderabad                      1355.0
Surrey                                   4070.0
Sussex                                   3246.0
Sydney Sixers                             707.0
Sydney Thunder                            366.0
Tamil Nadu                                172.0
Tamil Union Cricket and Athletic Club     328.0
Tasmania                                  729.0
Titans                                   2744.0
Trinbago Knight Riders                    170.0
Trinidad & Tobago                         207.0
Trinidad & Tobago Red Steel              1126.0
Udarata Rulers                            174.0
United Arab Emirates                     1015.0
Uthura Yellows                            158.0
Uttar Pradesh                             629.0
Victoria                                 1057.0
Warriors                                 2417.0
Warwickshire                             3423.0
Wayamba United                            312.0
Wellington                                959.0
West Indies                              1206.0
West Indies A                             152.0
Western Australia                         737.0
Western Province                          990.0
Western Troopers                          165.0
Worcestershire                           2818.0
Yorkshire                                3132.0
Zimbabwe                                  483.0
Zimbabwe XI                               330.0
Name: innings1_runs, dtype: float64

In [16]:
b = df_2.groupby('winner').sum()
b = b.innings2_runs
b

winner
Abbottabad Falcons                        602.0
Abbottabad Region                         350.0
Abbottabad Rhinos                         144.0
Adelaide Strikers                         918.0
Afghanistan                              2282.0
Andhra                                   1030.0
Antigua Hawksbills                        212.0
Assam                                    1195.0
Auckland                                 2274.0
Australia                                2083.0
Australia A                               172.0
Badureliya Sports Club                    425.0
Bahawalpur Region                         153.0
Bahawalpur Stags                          434.0
Bangladesh                               1086.0
Bangladesh XI                             132.0
Barbados                                  681.0
Barbados Tridents                         419.0
Barisal Bulls                             604.0
Barisal Burners                          1201.0
Barisal Division                          118.0
Baroda                                   1795.0
Basnahira                                 121.0
Basnahira North                           261.0
Basnahira South                           325.0
Bengal                                    650.0
Bermuda                                   270.0
Bloomfield Cricket and Athletic Club     1207.0
Boland                                    555.0
Border                                    685.0
                                          ...
Sunrisers Hyderabad                      1181.0
Surrey                                   2629.0
Sussex                                   2418.0
Sydney Sixers                            1026.0
Sydney Thunder                            277.0
Sylhet Royals                             126.0
Sylhet Super Stars                        224.0
Tamil Union Cricket and Athletic Club     917.0
Tasmania                                  400.0
Titans                                   3475.0
Trinidad & Tobago                         499.0
Trinidad & Tobago Red Steel               566.0
Udarata Rulers                            144.0
Uganda                                    124.0
United Arab Emirates                      654.0
Uthura Rudras                             156.0
Uttar Pradesh                             429.0
Uva Next                                  202.0
Victoria                                  952.0
Warriors                                 2661.0
Warwickshire                             2894.0
Wayamba                                   527.0
Wellington                               1869.0
West Indies                               690.0
West Indies A                             461.0
Western Australia                         622.0
Western Province                          525.0
Worcestershire                           2896.0
Yorkshire                                2714.0
Zimbabwe XI                               150.0
Name: innings2_runs, dtype: float64

In [17]:
# add up all winned points
c = a.add(b, fill_value=0)
c

winner
Abahani Limited                           172.0
Abbottabad Falcons                       1534.0
Abbottabad Region                         548.0
Abbottabad Rhinos                         330.0
Adelaide Strikers                        1468.0
Afghanistan                              5968.0
Andhra                                   1699.0
Antigua                                   146.0
Antigua Hawksbills                        212.0
Antigua and Barbuda                       153.0
Assam                                    2224.0
Auckland                                 5749.0
Australia                                5108.0
Australia A                               348.0
Azad Jammu & Kashmir Region               123.0
Badureliya Sports Club                   1550.0
Bahawalpur Region                         773.0
Bahawalpur Stags                          895.0
Baluchistan                               217.0
Bangladesh                               2177.0
Bangladesh A                              166.0
Bangladesh XI                             132.0
Barbados                                 1571.0
Barbados Tridents                        1919.0
Barisal Bulls                            1262.0
Barisal Burners                          1702.0
Barisal Division                          118.0
Baroda                                   4164.0
Basnahira                                 425.0
Basnahira Cricket Dundee                  129.0
                                          ...
Sylhet Super Stars                        224.0
Tamil Nadu                                172.0
Tamil Union Cricket and Athletic Club    1245.0
Tasmania                                 1129.0
Titans                                   6219.0
Trinbago Knight Riders                    170.0
Trinidad & Tobago                         706.0
Trinidad & Tobago Red Steel              1692.0
Udarata Rulers                            318.0
Uganda                                    124.0
United Arab Emirates                     1669.0
Uthura Rudras                             156.0
Uthura Yellows                            158.0
Uttar Pradesh                            1058.0
Uva Next                                  202.0
Victoria                                 2009.0
Warriors                                 5078.0
Warwickshire                             6317.0
Wayamba                                   527.0
Wayamba United                            312.0
Wellington                               2828.0
West Indies                              1896.0
West Indies A                             613.0
Western Australia                        1359.0
Western Province                         1515.0
Western Troopers                          165.0
Worcestershire                           5714.0
Yorkshire                                5846.0
Zimbabwe                                  483.0
Zimbabwe XI                               480.0
dtype: float64

In [18]:
df_result = df_filter.groupby('winner').mean()
df_result

                                       innings1_runs  innings2_runs
winner
Abahani Limited                           172.000000      95.000000
Abbottabad Falcons                        138.000000     120.363636
Abbottabad Region                         179.666667     155.000000
Abbottabad Rhinos                         164.000000     164.500000
Adelaide Strikers                         160.777778     149.555556
Afghanistan                               146.780488     124.804878
Andhra                                    129.384615     117.769231
Antigua                                   146.000000      98.000000
Antigua Hawksbills                        105.000000     106.000000
Antigua and Barbuda                       153.000000     129.000000
Assam                                     137.812500     127.812500
Auckland                                  163.057143     147.942857
Australia                                 156.727273     131.848485
Australia A                               173.000000     160.500000
Azad Jammu & Kashmir Region               123.000000      65.000000
Badureliya Sports Club                    154.400000     135.900000
Bahawalpur Region                         154.400000     143.600000
Bahawalpur Stags                          148.166667     139.333333
Baluchistan                               217.000000     110.000000
Bangladesh                                143.266667     124.933333
Bangladesh A                              166.000000     155.000000
Bangladesh XI                             129.000000     132.000000
Barbados                                  119.384615      98.461538
Barbados Tridents                         147.000000     124.076923
Barisal Bulls                             156.250000     148.750000
Barisal Burners                           152.909091     149.818182
Barisal Division                          115.000000     118.000000
Baroda                                    147.571429     132.571429
Basnahira                                 141.333333     130.000000
Basnahira Cricket Dundee                  129.000000      95.000000
...                                              ...            ...
Sylhet Super Stars                        107.500000     112.000000
Tamil Nadu                                172.000000     157.000000
Tamil Union Cricket and Athletic Club     154.000000     143.875000
Tasmania                                  160.000000     138.428571
Titans                                    154.775000     142.850000
Trinbago Knight Riders                    170.000000     159.000000
Trinidad & Tobago                         140.800000     119.000000
Trinidad & Tobago Red Steel               153.000000     138.363636
Udarata Rulers                            157.500000     131.500000
Uganda                                    123.000000     124.000000
United Arab Emirates                      138.166667     128.166667
Uthura Rudras                             150.000000     156.000000
Uthura Yellows                            158.000000     152.000000
Uttar Pradesh                             150.285714     135.142857
Uva Next                                  135.000000     101.000000
Victoria                                  166.500000     148.416667
Warriors                                  143.942857     133.114286
Warwickshire                              158.350000     144.025000
Wayamba                                   129.250000     131.750000
Wayamba United                            156.000000     112.500000
Wellington                                164.588235     154.823529
West Indies                               143.928571     119.500000
West Indies A                             122.000000     111.600000
Western Australia                         168.750000     140.875000
Western Province                          150.400000     127.500000
Western Troopers                          165.000000     121.000000
Worcestershire                            167.088235     155.911765
Yorkshire                                 158.810811     143.729730
Zimbabwe                                  161.000000     155.000000
Zimbabwe XI                               158.666667     146.666667

[275 rows x 2 columns]

In [19]:
# count how many times they won
df3 = df_filter.groupby('winner').count()

In [20]:
df3

,innings1,innings1_runs,innings2,innings2_runs
winner,,,,
Abahani Limited,1,1,1,1
Abbottabad Falcons,11,11,11,11
Abbottabad Region,3,3,3,3
Abbottabad Rhinos,2,2,2,2
Adelaide Strikers,9,9,9,9
Afghanistan,41,41,41,41
Andhra,13,13,13,13
Antigua,1,1,1,1
Antigua Hawksbills,2,2,2,2
Antigua and Barbuda,1,1,1,1
Assam,16,16,16,16
Auckland,35,35,35,35
Australia,33,33,33,33
Australia A,2,2,2,2
Azad Jammu & Kashmir Region,1,1,1,1
Badureliya Sports Club,10,10,10,10
Bahawalpur Region,5,5,5,5
Bahawalpur Stags,6,6,6,6
Baluchistan,1,1,1,1
Bangladesh,15,15,15,15
Bangladesh A,1,1,1,1
Bangladesh XI,1,1,1,1
Barbados,13,13,13,13
Barbados Tridents,13,13,13,13
Barisal Bulls,8,8,8,8
Barisal Burners,11,11,11,11
Barisal Division,1,1,1,1
Baroda,28,28,28,28
Basnahira,3,3,3,3
Basnahira Cricket Dundee,1,1,1,1
...,...,...,...,...
Sylhet Super Stars,2,2,2,2
Tamil Nadu,1,1,1,1
Tamil Union Cricket and Athletic Club,8,8,8,8
Tasmania,7,7,7,7
Titans,40,40,40,40
Trinbago Knight Riders,1,1,1,1
Trinidad & Tobago,5,5,5,5
Trinidad & Tobago Red Steel,11,11,11,11
Udarata Rulers,2,2,2,2
Uganda,1,1,1,1
United Arab Emirates,12,12,12,12
Uthura Rudras,1,1,1,1
Uthura Yellows,1,1,1,1
Uttar Pradesh,7,7,7,7
Uva Next,2,2,2,2
Victoria,12,12,12,12
Warriors,35,35,35,35
Warwickshire,40,40,40,40
Wayamba,4,4,4,4
Wayamba United,2,2,2,2
Wellington,17,17,17,17
West Indies,14,14,14,14
West Indies A,5,5,5,5
Western Australia,8,8,8,8
Western Province,10,10,10,10
Western Troopers,1,1,1,1
Worcestershire,34,34,34,34
Yorkshire,37,37,37,37
Zimbabwe,3,3,3,3
Zimbabwe XI,3,3,3,3

In [22]:
# new col
df3['totalSum'] = c

In [23]:
df3.head()

                    innings1  innings1_runs  innings2  innings2_runs  totalSum
winner
Abahani Limited            1              1         1              1     172.0
Abbottabad Falcons        11             11        11             11    1534.0
Abbottabad Region          3              3         3              3     548.0
Abbottabad Rhinos          2              2         2              2     330.0
Adelaide Strikers          9              9         9              9    1468.0

In [24]:
# total points / times
df3['Score'] = df3.totalSum / df3.innings1

In [25]:
df3

,innings1,innings1_runs,innings2,innings2_runs,totalSum,Score
winner,,,,,,
Abahani Limited,1,1,1,1,172.0,172.000000
Abbottabad Falcons,11,11,11,11,1534.0,139.454545
Abbottabad Region,3,3,3,3,548.0,182.666667
Abbottabad Rhinos,2,2,2,2,330.0,165.000000
Adelaide Strikers,9,9,9,9,1468.0,163.111111
Afghanistan,41,41,41,41,5968.0,145.560976
Andhra,13,13,13,13,1699.0,130.692308
Antigua,1,1,1,1,146.0,146.000000
Antigua Hawksbills,2,2,2,2,212.0,106.000000
Antigua and Barbuda,1,1,1,1,153.0,153.000000
Assam,16,16,16,16,2224.0,139.000000
Auckland,35,35,35,35,5749.0,164.257143
Australia,33,33,33,33,5108.0,154.787879
Australia A,2,2,2,2,348.0,174.000000
Azad Jammu & Kashmir Region,1,1,1,1,123.0,123.000000
Badureliya Sports Club,10,10,10,10,1550.0,155.000000
Bahawalpur Region,5,5,5,5,773.0,154.600000
Bahawalpur Stags,6,6,6,6,895.0,149.166667
Baluchistan,1,1,1,1,217.0,217.000000
Bangladesh,15,15,15,15,2177.0,145.133333
Bangladesh A,1,1,1,1,166.0,166.000000
Bangladesh XI,1,1,1,1,132.0,132.000000
Barbados,13,13,13,13,1571.0,120.846154
Barbados Tridents,13,13,13,13,1919.0,147.615385
Barisal Bulls,8,8,8,8,1262.0,157.750000
Barisal Burners,11,11,11,11,1702.0,154.727273
Barisal Division,1,1,1,1,118.0,118.000000
Baroda,28,28,28,28,4164.0,148.714286
Basnahira,3,3,3,3,425.0,141.666667
Basnahira Cricket Dundee,1,1,1,1,129.0,129.000000
...,...,...,...,...,...,...
Sylhet Super Stars,2,2,2,2,224.0,112.000000
Tamil Nadu,1,1,1,1,172.0,172.000000
Tamil Union Cricket and Athletic Club,8,8,8,8,1245.0,155.625000
Tasmania,7,7,7,7,1129.0,161.285714
Titans,40,40,40,40,6219.0,155.475000
Trinbago Knight Riders,1,1,1,1,170.0,170.000000
Trinidad & Tobago,5,5,5,5,706.0,141.200000
Trinidad & Tobago Red Steel,11,11,11,11,1692.0,153.818182
Udarata Rulers,2,2,2,2,318.0,159.000000
Uganda,1,1,1,1,124.0,124.000000
United Arab Emirates,12,12,12,12,1669.0,139.083333
Uthura Rudras,1,1,1,1,156.0,156.000000
Uthura Yellows,1,1,1,1,158.0,158.000000
Uttar Pradesh,7,7,7,7,1058.0,151.142857
Uva Next,2,2,2,2,202.0,101.000000
Victoria,12,12,12,12,2009.0,167.416667
Warriors,35,35,35,35,5078.0,145.085714
Warwickshire,40,40,40,40,6317.0,157.925000
Wayamba,4,4,4,4,527.0,131.750000
Wayamba United,2,2,2,2,312.0,156.000000
Wellington,17,17,17,17,2828.0,166.352941
West Indies,14,14,14,14,1896.0,135.428571
West Indies A,5,5,5,5,613.0,122.600000
Western Australia,8,8,8,8,1359.0,169.875000
Western Province,10,10,10,10,1515.0,151.500000
Western Troopers,1,1,1,1,165.0,165.000000
Worcestershire,34,34,34,34,5714.0,168.058824
Yorkshire,37,37,37,37,5846.0,158.000000
Zimbabwe,3,3,3,3,483.0,161.000000
Zimbabwe XI,3,3,3,3,480.0,160.000000

In [26]:
aaa = df3.loc[:,['Score']]

In [27]:
aaa

                                            Score
winner
Abahani Limited                        172.000000
Abbottabad Falcons                     139.454545
Abbottabad Region                      182.666667
Abbottabad Rhinos                      165.000000
Adelaide Strikers                      163.111111
Afghanistan                            145.560976
Andhra                                 130.692308
Antigua                                146.000000
Antigua Hawksbills                     106.000000
Antigua and Barbuda                    153.000000
Assam                                  139.000000
Auckland                               164.257143
Australia                              154.787879
Australia A                            174.000000
Azad Jammu & Kashmir Region            123.000000
Badureliya Sports Club                 155.000000
Bahawalpur Region                      154.600000
Bahawalpur Stags                       149.166667
Baluchistan                            217.000000
Bangladesh                             145.133333
Bangladesh A                           166.000000
Bangladesh XI                          132.000000
Barbados                               120.846154
Barbados Tridents                      147.615385
Barisal Bulls                          157.750000
Barisal Burners                        154.727273
Barisal Division                       118.000000
Baroda                                 148.714286
Basnahira                              141.666667
Basnahira Cricket Dundee               129.000000
...                                           ...
Sylhet Super Stars                     112.000000
Tamil Nadu                             172.000000
Tamil Union Cricket and Athletic Club  155.625000
Tasmania                               161.285714
Titans                                 155.475000
Trinbago Knight Riders                 170.000000
Trinidad & Tobago                      141.200000
Trinidad & Tobago Red Steel            153.818182
Udarata Rulers                         159.000000
Uganda                                 124.000000
United Arab Emirates                   139.083333
Uthura Rudras                          156.000000
Uthura Yellows                         158.000000
Uttar Pradesh                          151.142857
Uva Next                               101.000000
Victoria                               167.416667
Warriors                               145.085714
Warwickshire                           157.925000
Wayamba                                131.750000
Wayamba United                         156.000000
Wellington                             166.352941
West Indies                            135.428571
West Indies A                          122.600000
Western Australia                      169.875000
Western Province                       151.500000
Western Troopers                       165.000000
Worcestershire                         168.058824
Yorkshire                              158.000000
Zimbabwe                               161.000000
Zimbabwe XI                            160.000000

[275 rows x 1 columns]

In [62]:
aaa.index.name = 'home'
aaa

                                            Score
home
Abahani Limited                        172.000000
Abbottabad Falcons                     139.454545
Abbottabad Region                      182.666667
Abbottabad Rhinos                      165.000000
Adelaide Strikers                      163.111111
Afghanistan                            145.560976
Andhra                                 130.692308
Antigua                                146.000000
Antigua Hawksbills                     106.000000
Antigua and Barbuda                    153.000000
Assam                                  139.000000
Auckland                               164.257143
Australia                              154.787879
Australia A                            174.000000
Azad Jammu & Kashmir Region            123.000000
Badureliya Sports Club                 155.000000
Bahawalpur Region                      154.600000
Bahawalpur Stags                       149.166667
Baluchistan                            217.000000
Bangladesh                             145.133333
Bangladesh A                           166.000000
Bangladesh XI                          132.000000
Barbados                               120.846154
Barbados Tridents                      147.615385
Barisal Bulls                          157.750000
Barisal Burners                        154.727273
Barisal Division                       118.000000
Baroda                                 148.714286
Basnahira                              141.666667
Basnahira Cricket Dundee               129.000000
...                                           ...
Sylhet Super Stars                     112.000000
Tamil Nadu                             172.000000
Tamil Union Cricket and Athletic Club  155.625000
Tasmania                               161.285714
Titans                                 155.475000
Trinbago Knight Riders                 170.000000
Trinidad & Tobago                      141.200000
Trinidad & Tobago Red Steel            153.818182
Udarata Rulers                         159.000000
Uganda                                 124.000000
United Arab Emirates                   139.083333
Uthura Rudras                          156.000000
Uthura Yellows                         158.000000
Uttar Pradesh                          151.142857
Uva Next                               101.000000
Victoria                               167.416667
Warriors                               145.085714
Warwickshire                           157.925000
Wayamba                                131.750000
Wayamba United                         156.000000
Wellington                             166.352941
West Indies                            135.428571
West Indies A                          122.600000
Western Australia                      169.875000
Western Province                       151.500000
Western Troopers                       165.000000
Worcestershire                         168.058824
Yorkshire                              158.000000
Zimbabwe                               161.000000
Zimbabwe XI                            160.000000

[275 rows x 1 columns]

In [28]:
# output

In [30]:
aaa.to_csv('question3out.csv', encoding='utf-8')
www = pd.read_csv('question3out.csv')
www.head()

               winner       Score
0     Abahani Limited  172.000000
1  Abbottabad Falcons  139.454545
2   Abbottabad Region  182.666667
3   Abbottabad Rhinos  165.000000
4   Adelaide Strikers  163.111111